
.box {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.225);
    backdrop-filter: blur(6px);
    border-radius: 12px;
    margin: 55px auto 0 auto;
    padding: 20px; 
    box-sizing: border-box; 
}

.box li {
    width: 30%; 
    margin-bottom: 20px; 
    position: relative;
    box-sizing: border-box; 
    background-color: rgba(142, 238, 255, 0.262);
    backdrop-filter: blur(6px);
    background-image: linear-gradient(
        135deg, 
        rgba(255, 255, 255, 0.3) 0%, 
        rgba(255, 255, 255, 0.1) 40%,
        rgba(255, 255, 255, 0.1) 60%,
        rgba(255, 255, 255, 0.3) 100%
    );
    border-radius: 12px;
    overflow: hidden; 
    border: 1px solid rgba(255, 255, 255, 0.4); 
    box-shadow: 
        0 4px 15px rgba(0, 0, 0, 0.05),
        inset 0 0 1px 1px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.box ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    column-gap: 5%; 
    row-gap: 20px; 
}
.box li:hover {
    transform: translateY(-5px); 
    box-shadow: 
        0 10px 25px rgba(0, 0, 0, 0.2),
}
.box a {
    position: relative;
    z-index: 2; 
    display: flex;
    align-items: center; 
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    color: #000;
    text-decoration: none;
}

.box a:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}
.box a img {
    max-width:20%;
    height: auto;
    margin-right: 15px; 
    flex-shrink: 0; 
    border-radius: 8px; 
    object-fit: cover;  
}
.box a span {
    flex-grow: 1;
    white-space: nowrap;    
    overflow: hidden;        
    text-overflow: ellipsis;
}
.footerright{
    text-align: right;
    margin-right: 30px;
}
.txtcenter{
    text-align: center;
}
.footerl{
    margin-left: 10px;
}
body{
    margin: 0;
    background-image: url(https://i.imgs.ovh/2025/10/28/7KVeCd.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.262);
    backdrop-filter: blur(6px);
    overflow: hidden; 
    position: fixed; 
    top: 0;         
    width: 100%;     
    z-index: 1000;  
}
.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;         
    justify-content: center;
}
.navbar a {
    display: block; 
    color: white;   
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none; 
}
.navbar a:hover {
    background-color: #ffffff4e; 
    border-radius: 10px;
}
.content {
    padding-top: 10px; 
    padding-left: 10px;
    padding-right: 10px; 
}
.site-footer {
    margin-top: 10px;
    color: #000000; 
    padding: 5px; 
    background-color: rgba(255, 255, 255, 0.262);
    backdrop-filter: blur(6px);
}
.site-footer a {
    color: #000000;
    text-decoration: none;
}